@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@font-face {
    font-family: 'Neulis Cursive';
    src: url('/fonts/NeulisCursive-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neulis Cursive';
    src: url('/fonts/NeulisCursive-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@import "tailwindcss";

@theme {
    --color-primary: #1FAEE1;
    --color-secondary: #578045;
    --color-neutral: #EFE6DD;
    --font-neulis: "Neulis Cursive", cursive;
    --font-poppins: "Poppins", sans-serif;
}

@layer base {
    body {
        font-family: 'Poppins', system-ui, sans-serif;
        background-color: #EFE6DD;
    }

    h1,
    h2,
    .font-neulis {
        font-family: 'Neulis Cursive', cursive;
    }
}